.block {
  margin: 0px 20px;
  background-color: #092a59;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  flex-wrap: wrap;
}
.header > a {
  font-weight: bold;
}
a {
  color: white;
}
.menu {
  display: flex;
}
