<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <meta name="description" content="landing page generic" />
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="./styles.css"/>

  <script src="https://kit.fontawesome.com/7da98c9f53.js" crossorigin="anonymous"></script>
  
  <title>Template Landing Page</title>
</head>
<body>
  <header class="header-container">
    <nav class="nav-header content-padding">
      <div class="logo">
        <i class="fas fa-video"></i>
      </div>
      <ul class="nav-links">
        <li><a href="#">Negócio</a></li>
        <li><a href="#">Preços</a></li>
        <li><a href="#">Trabalho</a></li>
        <li><a href="#">Sobre</a></li>
        <li class="nav-last-link"><a href="#">Demonstração</a></li>
      </ul>
    </nav>
    <img class="header-image" src="./assets/form-menu-background.svg" />
    <div class="header-apresentation">
      
      <div class="header-content-text content-padding">
        <h1>Titulo demonstrativo sobre a página</h1>
        <span>Texto demonstrativo para explicar e dar mais informações do site</span>
        <br />
        <button>Demonstração</button>
      </div>
    </div>
  </header>
  
  <section>
    <h1>primeira section</h1>
  </section>
  
  <footer>
    <h1>footer</h1>
  </footer>

  <script type="text/javascript" src="./actions.js"></script>
</body>
</html>