html, body, ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 1.2rem;
  font-family: Roboto;
}
a, 
a:hover {
  text-decoration: none;
}
.navbar-light .navbar-toggler-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  color: white;
}
.navbar-light .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
.section-topo {
  background-color: #092a59;
  margin: 20px;
  border-radius: 20px;
  padding: 20px 0px;
  height: 100%;
  
  background-image: url("./assets/header.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-position-y: bottom;
}
.content-header {
  padding: 30px 70px;
}
.content-padding {
  padding: 0px 100px;
}
.content-margin-top {
  margin-top: 130px;
}
.menu {
  justify-content: flex-end;
}
.lista-menu li {
  margin-left: 20px;
}
.lista-menu li:last-child {
  background-color: #FD5056;
  border-radius: 15px;
}
.navbar-brand, .nav-link {
  color: white !important;
  font-weight: 700;
}
.title {
  font-weight: bold;
  margin: 30px 0px;
}
.title-legend {
  font-weight: 200;
  height: fit-content;
  margin-bottom: 100px;
}
.input-search {
  border-radius: 15px;
  padding: 30px 35px;
  width: 30% !important;
}
.btn-search {
  border-radius: 15px;
  margin-left: -125px;

  color: #fff;
  background-color: #FD5056;
  border-color: #FD5056;
}
.span-header {
  margin-left: 10px;
  font-weight: 100;
  font-size: 16px;
}
.content-opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 50px 0px
}
.img-content-opt {
  margin-left: 30px;
}
.num-opt {
  font-size: 50px;
  font-weight: bold;
  color: #092a59;
}
.span-opt {
  font-weight: 500;
  color: #808080;
  text-shadow: #808080;
}
.image-opt {
  width: 250px;
  margin-left: 10px;
}
.arrow-opt-icon {
  font-size: 30px;
  color: #092a59;
  margin-left: 10px;
}
/* section benefits */
.title-benefit {
  font-weight: bold;
  color: #092a59;
}
.bd-callout {
  margin: 50px 1px;
}
.bd-callout li::before {
  content: "";
  background-color: #FD5056;
  width: 10px;
  height: 50px;
  border-radius: 10px;
}
.bd-callout li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}
.bd-callout li>div {
  margin-left: 40px;
}
.icon-benefit {
  background-color: #f3f5ff;
  border-radius: 20px;
  padding: 20px 20px;
}
.icon-benefit i {
  border: 3px dashed #bfc7d4;
  padding: 15px;
  color: #1565dc;
  font-size: 25px;
}
.info-benefit h4 {
  color: #092a59;
  font-weight: bold;
}
.btn-ver-mais {
  background-color: #FD5056;
  border-radius: 30px;
  border: 1px solid #fd5056;
  color: white;
  font-size: 20px;
  padding: 4px 20px;
}
.benefit-discover {
  background-image: url("./assets/benefit.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: bottom;
}
.discover-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 60px;
  margin-top: 60px;
}
.card-title {
  color: #092a59;
  font-weight: bold;
}
.card-text {
  font-size: 18px;
}
.card-list {
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 10px;
}
.card-list li img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0px 5px;
}
.btn-discover {
  border-radius: 10px;
  width: 50px;
  height: 50px;
  background-color: #1565dc;
}
.btn-discover i {
  color: white;
}
/* section work */
.title-work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.title-work h1 {
  color: #092a59;
  font-weight: bold;
}
.carousel-work {
  display: flex;
  flex-direction: row;
}
.card-wrapper {
  padding: 20px 0px;
}
.card-work {
  width: auto;
  border: none;
  box-shadow: -3px 6px 15px #ccc;
  border-radius: 20px;
  margin: 0px 40px;
}
.card-work img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.btn-work {
  margin-top: 20px;
  border-radius: 25px;
}
.btn-work:hover {
  background-color: #1565dc;
}
/* section question */
.jumbotron {
  padding-left: 0px;
  padding-right: 0px;
}
.question-wrapper {
  background-color: #092a59;
  border-radius: 20px;
}
.question-wrapper h2, span, p {
  color: white;
}
.content-padding-question {
  padding: 0px 100px;
}
.accordion {
  border-top: 7px solid #1565dc;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.accordion>.card>.card-header {
  background-color: white;
}
.accordion>.card:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.accordion>.card:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.text-question {
  color: #092a59;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  width: -webkit-fill-available;
}
.text-answer {
  font-size: 18px;
  padding-left: 40px;
}
/* footer */
.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.list-socials {
  display: flex;
  flex-direction: row;
}
.list-socials li {
  background-color: #f3f5ff;
  margin-right: 15px;
  padding: 10px 15px;
  margin-top: 30px;
  border-radius: 30px;
}
.list-footer li {
  color: #092a59;
  font-size: 18px;
  margin: 30px 0px;
}
.list-footer a {
  color: #092a59;
}
.list-footer li:first-child {
  color: #092a59;
  font-weight: bold;
}
.footer-links {
  display: flex;
  flex-direction: row;
}
.footer-links div {
  margin-left: 70px;
}
.btn-social {
  border: none;
  color: #808080;
}
.btn-social:focus {
  outline: none;
}
/* media queries */
@media (max-width: 1600px) {
  .bd-callout li>div {
    margin-left: 20px;
  }
}

@media (max-width: 1250px) {
  .input-search {
    width: 70% !important;
  }
  .content-opt {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .opt-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .img-content-opt {
    margin-top: 30px;
  }
  .image-opt {
    margin-top: 20px;
  }
}
@media (max-width: 800px) {
  .content-header {
    padding: 0px 10px;
  }
  .input-search {
    width: 100% !important;
  }
  .btn-search {
    margin-left: auto;
    width: 100%;
    margin-top: 10px;
  }
  .discover-card {
    align-items: center;
    justify-content: center;
    margin-top: 60px;
  }
  .img-content-opt {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .content-padding-question {
    padding: 0px 30px;
  }
  .btn-ver-mais {
    width: 100%;
  }  
  .container-footer {
    flex-direction: column;
  }
  .container-list-social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .content-padding {
    padding: 0px 10px;
  }
  .bd-content-callout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title-benefit {
    margin-left: 20px;
  }
  .bd-callout li {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .bd-callout li>div {
    margin-bottom: 30px;
  }
  .bd-callout li::before {
    display: none;
  }
  .footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-links div {
    margin-left: 0;
  }
  .list-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-footer li {
    margin: 5px 0px;
  }
}
@media (max-width: 300px) {
  .content-opt {
   display: none; 
  }
}